<div class="container">
   <H2 align = "center" style="color:red ; font-family: Poiret One;font-weight:bold; font-size: 60px ">Current Time Table</H2><BR>
  <table class="table">
    <tr>
    <th> TIME/DAYS
    </th>
    <th> 08:30 - 09:00 </th>
    <th> 09:00 - 09:30 </th>
    <th> 09:30 - 10:00 </th>
    <th> 10:00 - 10:30 </th>
    <th> 10:30 - 11:00 </th>
    <th> 11:00 - 11:30 </th>
    <th> 11:30 - 12:00 </th>
    <th> 12:00 - 12:30 </th>
    <th> 14:00 - 15:25 </th>
    <th> 15:30 - 16:55 </th>
    <th> 17:00 - 18:00 </th>
    <th> 17:30 - 19:00 </th>
   </tr>

    <tr class = "success">
    <th> MONDAY </th>
    <td> CS 207 </td>
    <td> CS 207 </td>
    <td> HS 101 </td>
    <td> HS 101 </td>
    <td> </td>
    <td> </td>
    <td> EE 101</td>
    <td> EE 101</td>
    <td> </td>
    <td> CS 213</td>
    <td> </td>
    <td> </td>

    </tr>
    <tr class = "danger">
    <th> TUESDAY </th>
    <td> EE 101</td>
    <td> EE 101</td>
    <td> CS 207</td>
    <td> CS 207</td>
    <td> HS 101</td>
    <td> HS 101</td>
    <td> </td>
    <td> </td>
    <td> CS 251</td>
    <td> CS 251 </td>
    <td> CS 251 </td>
    <td>  </td>
    </tr>


    <tr class="active">
    <th> WEDNESDAY </th>
    <td> </td>
    <td> </td>
    <td> GNR 401 </td>
    <td> GNR 401 </td>
    <td> GNR 401 </td>
    <td> CS 215 </td>
    <td> CS 215 </td>
    <td> CS 215 </td>
    <td> </td>
    <td> </td>
    <td> </td>

    <td> </td></tr>
    <tr class = "warning">

    <th> THURSDAY </th>
    <td> </td>
    <td> </td>
    <td>EE 101 </td>
    <td>EE 101  </td>
    <td>CS 207  </td>
    <td>CS 207 </td>
    <td>HS 101 </td>
    <td>HS 101 </td>
    <td> </td>
    <td> CS 213 </td>
    <td> </td>
    <td> </td>
    </tr>

    <tr class = "info">
    <th> FRIDAY </th>
    <td> </td>
    <td> </td>
    <td> GNR 401 </td>
    <td> GNR 401 </td>
    <td> GNR 401 </td>
    <td> CS 215 </td>
    <td> CS 215 </td>
    <td> CS 215 </td>
    <td> CS 293</td>
    <td> CS 293</td>
    <td>  </td>
    <td> EE 101  </td>
    </tr>
  </table>
</div>
