{% extends 'management/base.html' %}
{% block title%}Welcome{%endblock%}
{% block body %}
  <img src="/static/management/images/pec_seal.png" alt="HTML5 Icon" style="width:250px;height:250px;" class="center">
  <h1 align="center">Welcome to the PEC TimeTable Management System!</h1>
  <!--<img src="/static/management/images/pec_seal.png" alt="HTML5 Icon" style="float:left;width:192px;height:192px;">
  <h3>List of Courses</h3>

    {% for course in all_courses %}
  <li> <a href = "/management/course/{{course}}/"> {{course}}: {{course.Name}} </a></li>
  {% endfor %}-->

{% endblock %}
