{% extends 'management/base.html' %}
{% block title%}Student Home{%endblock%}
{% block body %}
  <img src="/static/management/images/PEC-Logo.png" alt="HTML5 Icon" style="float:right;">
  <ul>
  <h1>Welcome to the PEC TimeTable Management System!</h1>
  <h2>{{name}}</h2>
  <h4>Student ID : {{student.Student_ID}}</h4>
  <h4>Programme  : {{student.Programme}}</h4>
  <h4>Year       : {{student.Year}}</h4>
  <h4>Branch     : {{student.Department}}</h4>

  <h3><a href = "/management/student/{{student.Student_ID}}/timetable">Show TimeTable</a></h3>
  </ul>
{% endblock %}
