{% extends 'management/base.html' %}
{% block title%}Student Home{%endblock%}
{% block body %}
  <!--<img src="/static/management/images/PEC-Logo.png" alt="HTML5 Icon" style="float:right;">-->
  <ul>
  <h2 style="font-family: 'Secular One'">{{name}}</h2>
  <table class="table">
    <tbody>
    <tr>
      <td>Student ID</td>
      <td>{{student.Student_ID}}</td>
    </tr>
    <tr>
      <td>Programme</td>
      <td>{{student.Programme}}</td>
    </tr>
    <tr>
      <td>Year</td>
      <td>{{student.Year}}</td>
    </tr>
    <tr>
      <td>Branch</td>
      <td>{{student.Department}}</td>
    </tr>
    </tbody>
  </table>

  <!--<h3><a href = "/management/student/{{student.Student_ID}}/timetable">Show TimeTable</a></h3>-->
  <h3><a href = "{% url 'studentTimeTable' student.Student_ID %}">Show TimeTable</a></h3>
  </ul>
{% endblock %}
