{% extends 'management/base.html' %}
{% block title%}Student TimeTable{%endblock%}
{% block body %}
  <h1>Welcome to the PEC TimeTable Management System!</h1>

  <h2>{{name}}</h2>
  <h4>Student ID : {{student.Student_ID}}</h4>
  <h4>Programme  : {{student.Programme}}</h4>
  <h4>Year       : {{student.Year}}</h4>
  <h4>Branch     : {{student.Department}}</h4>

  <ul>
  <h3><a href = "/management/student/{{student.Student_ID}}/">Hide TimeTable</a></h3>
  {% for lect in all_lectures %}
  <!--<li><pre>{{lect.get_Day_display}}</pre>{{lect.get_Time_Slot_display}} | {{lect.Course.Name}} | {{lect.Venue}} | {{lect.Teacher.get_Designation_display}} {{lect.Teacher.First_Name}} {{lect.Teacher.Last_Name}}</li>-->
  {% endfor %}
<h1>Time Table</h1>
  <h4>Monday</h4>
  {% for lect in Mon_lectures %}
  <li>{{lect.get_Time_Slot_display}} | {{lect.Course.Name}} | {{lect.Venue}} | {{lect.Teacher.Designation}} {{lect.Teacher.First_Name}} {{lect.Teacher.Last_Name}}</li>
  {% endfor %}
  <h4>Tuesday</h4>
  {% for lect in Tue_lectures %}
  <li>{{lect.get_Time_Slot_display}} | {{lect.Course.Name}} | {{lect.Venue}} | {{lect.Teacher.Designation}} {{lect.Teacher.First_Name}} {{lect.Teacher.Last_Name}}</li>
  {% endfor %}
  <h4>Wednesday</h4>
  {% for lect in Wed_lectures %}
  <li>{{lect.get_Time_Slot_display}} | {{lect.Course.Name}} | {{lect.Venue}} | {{lect.Teacher.Designation}} {{lect.Teacher.First_Name}} {{lect.Teacher.Last_Name}}</li>
  {% endfor %}
  <h4>Thursday</h4>
  {% for lect in Thu_lectures %}
  <li>{{lect.get_Time_Slot_display}} | {{lect.Course.Name}} | {{lect.Venue}} | {{lect.Teacher.Designation}} {{lect.Teacher.First_Name}} {{lect.Teacher.Last_Name}}</li>
  {% endfor %}
  <h4>Friday</h4>
  {% for lect in Fri_lectures %}
  <li>{{lect.get_Time_Slot_display}} | {{lect.Course.Name}} | {{lect.Venue}} | {{lect.Teacher.Designation}} {{lect.Teacher.First_Name}} {{lect.Teacher.Last_Name}}</li>
  {% endfor %}


  </ul>

{% endblock %}
