body {
  background: white url("images/background.png");
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.center1 {

  margin-left: auto;
  margin-right: auto;

}
#head-navbar {
  width: 100%;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
}
.nav>li {
  display: inline-block;
  width:initial;
  float:left;
  white-space: nowrap;
}
.nav {
  display: inline-block;
}

@media screen and (max-width:768px)
{
  .nav.navbar-nav.pull-right { float:none !important; }
}
